.zoom-on-hover {
  overflow: hidden;
  transition: transform 0.3s ease;
}

.zoom-on-hover:hover {
  transform: scale(1.1);
}

.rotate-effect {
  transition: transform 1s;
}

.rotate-effect:hover {
  transform: rotate(360deg);
}

/* OrbitImage */

.orbit {
  position: relative;
  width: 100%;
  height: 100%;
}

.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Set the desired styles for the center image */
}

.orbit-images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit-image {
  position: absolute;
  /* Set the desired styles for the orbit images */
}

/* Adjust the position and size of each orbit image */
.orbit-image:nth-child(1) {
  bottom: 73%;
  right: 63%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
}

.orbit-image:nth-child(2) {
  /* top: 90%;
  left: 55%; */
  bottom: 94%;
  right: 31%;
  transform: translateX(-50%);
  z-index: 6;
  width: 98px;
  height: 98px;
}

.orbit-image:nth-child(3) {
  top: 95%;
  left: 48%;
  transform: translateX(-50%);
  width: 125px;
  height: 125px;
  z-index: 5;
}

.orbit-image:nth-child(4) {
  top: 49%;
  right: 58%;
  transform: translateX(-50%);
  width: 95px;
  height: 95px;
  z-index: 4;
}

.orbit-image:nth-child(5) {
  bottom: 32%;
  left: 71%;
  transform: translateX(-50%);
  width: 135px;
  height: 135px;
  z-index: 3;
}

.orbit-image:nth-child(6) {
  top: 28%;
  left: 63%;
  transform: translateX(-50%);
  z-index: 2;
}

.orbit-image:nth-child(7) {
  top: 7%;
  right: 22%;
  transform: translateX(-50%);
  width: 168px;
  height: 168px;
  z-index: 1;
}

/* Add styles for the remaining orbit images */
